<!DOCTYPE html>
<html lang="en">
<head>
   {%load static%}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
   <link rel="stylesheet" href="{% static 'style.css' %}">
   
   <title>Travel</title>
</head>
<body>

   <!--------- HEADER -------------------------------------------->
   <header>
      <div id="hamburger-menu" class="fas fa-bars"></div>

      <a href="#" class="logo"><span>T</span>ravel</a>
      <nav class="navbar">
         <a href="#home">home</a>
         <a href="#packages">packages</a>
         <a href="{% url 'customer:hotel_book' %}" target="_blank">Hotel Booking</a>
         <a href="{% url 'customer:tour_page' %}" target="_blank">Tour Booking</a>
         <a href="{% url 'customer:vehicle_page' %}" target="_blank">Rent Vehicle </a>
         <a href="{% url 'customer:recommend' %}" target="_blank">Recommend</a>
         {% if request.session.username %}
         <a href="{% url 'customer:orders' %}" target="_blank">Orders</a>
         {% endif %}
      </nav>

      <div class="icons">
         <i class="fas fa-search" id="search-btn"></i>
         <i class="fas fa-user" id="login-btn"></i>
         <p style="font-size:21px;color:white;margin-left:20%;">Hello {{ request.session.username }}
            {% if 'username' in request.session %}
               <button class="btn btn-primary"><a href="{% url 'customer:log-out' %}">Log Out</a></button>
            {% endif %}
         </p>
      </div>

      <form action="" class="search-bar-container">
         <input type="search" id="search-bar" placeholder="search here...">
         <label for="search-bar" class="fas fa-search"></label>
      </form>
   </header>

   <!------ LOGIN FORM CONTAINER ---------->
   {% if 'username' not in request.session %}
  <div class="login-form-container">
      <i class="fa fa-times" id="form-clouse"></i>
      <form action="{% url 'customer:home' %}" method="POST"  >
         {% csrf_token %}
         <h3>login</h3>
         <input type="text" name="useremail" class="box" placeholder="enter your username">
         <input type="password" name="userpw" class="box" placeholder="enter your password">
         <input type="submit" value="login now" class="btn">
         <input type="checkbox" id="remember">
         <label for="remember">remember me</label>
         {% include 'Tourism/messages_block.html' %}
         <p>Register Here? <a  href="{% url 'customer:register_page' %}">click here</a></p>  
         <p>forget password? <a href="#">click here</a></p>
      </form> 
   </div>
{% endif %}

   <!------ HOME SECTION ------------------------------------------>
   <section class="home" id="home">
      <div class="content">
         <h3>adventure is woldwhile</h3>
         <p>discover new places with us, adventure awaits</p>
         <a href="#" class="btn">discover more</a>
      </div>


      <div class="controls">
         <span class="vid-btn active" data-src="{% static 'img/vid-1.mp4' %}"></span>
         <span class="vid-btn " data-src="{% static 'img/vid-2.mp4' %}"></span>
         <span class="vid-btn" data-src="{% static 'img/vid-3.mp4' %}"></span>
         <span class="vid-btn" data-src="{% static 'img/vid-4.mp4' %}"></span>
         <span class="vid-btn" data-src="{% static 'img/vid-5.mp4' %}"></span>
      </div>

      <div class="video-container">
         <video src="{% static 'img/vid-1.mp4' %}" id="video-slider" loop autoplay muted></video>
         <!-- <video src="{% static 'img/vid-2.mp4' %}" id="video-slider" loop autoplay muted></video> -->
      </div>
   </section>

   <!------ BOOK SECTION ------------------------------------------>
   <section class="book" id="book">
      <h1 class="heading">
         <span>b</span>
         <span>o</span>
         <span>o</span>
         <span>k</span>
         <span class="space"></span>
         <span>n</span>
         <span>o</span>
         <span>w</span>
      </h1>

      <div class="row">
         <div class="image">
            <img src="{% static 'img/book-img.svg' %}" alt="">
          </div>
         <form action="{% url 'customer:tour_page' %}" method="post" target="_blank">
            {% csrf_token %}
            <div class="input-box">
               <h3>where to</h3>
               <input type="text" placeholder="Place name">
            </div>
            <div class="input-box">
               <h3>how many</h3>
               <input type="number" placeholder="Number of guests">
            </div>
            <div class="input-box">
               <h3>arrivals</h3>
               <input type="date">
            </div>
            <div class="input-box">
               <h3>leaving</h3>
               <input type="date">
            </div>
           <input type="submit" class="btn" value="Book now">
         </form>
      </div>
   </section>

   <!------ PACKAGE SECTION --------------------------------------->
   <section class="packages" id="packages">
      <h1 class="heading">
         <span>p</span>
         <span>a</span>
         <span>c</span>
         <span>k</span>
         <span>a</span>
         <span>g</span>
         <span>e</span>
         <span>s</span>
      </h1>

   <div class="box-container">
      <div class="box">
         <img src="{% static 'img/p-1.jpg' %}" alt="">
         <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i>singapore</h3>
            <p>Singapore is famous for being a global financial center, being among the most densely populated places in the world, having a world-class city airport with a waterfall, and a Botanic Garden that is a World Heritage Site.</p>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <div class="price">1,30,000 <span>₹1,70,000</span></div>
            <a href="{% url 'customer:tour_page' %}"target="_blank" class="btn">book now</a>
         </div>
       </div>

       <div class="box">
         <img src="{% static 'img/p-2.jpg' %}" alt="">
         <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i>maldives</h3>
            <p>The Maldives has a reputation for being an exclusive, ultra-lavish destination.</p>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <div class="price">1,10,000 <span>₹1,30,000</span></div>
            <a href="{% url 'customer:tour_page' %}" target="_blank" class="btn">book now</a>
         </div>
       </div>

       <div class="box">
         <img src="{% static 'img/p-3.jpg' %}" alt="">
         <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i>tokyo</h3>
            <p>Why Tokyo is famous?
Image result for tokyo
Tokyo is famous for Anime, electronics, manga, and video games. Akihabara is the epicenter if it all. It becomes a jungle of electric lights and colors at night, providing a sensory overload for visitors.</p>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <div class="price">₹1,20,000 <span>₹1,50,000</span></div>
            <a href="{% url 'customer:tour_page' %}" target="_blank" class="btn">book now</a>
         </div>
       </div>

      <div class="box">
         <img src="{% static 'img/p-4.jpg' %}" alt="">
         <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i>mumbai</h3>
            <p>Mumbai is home to three UNESCO World Heritage Sites: the Elephanta Caves, Chhatrapati Shivaji Maharaj Terminus, and the city's distinctive ensemble of Victorian and Art Deco buildings designed in the 19th and 20th centuries.</p>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <div class="price">₹30,000 <span>₹45,000</span></div>
            <a href="{% url 'customer:tour_page' %}" target="_blank" class="btn">book now</a>
         </div>
       </div>

       <div class="box">
         <img src="{% static 'img/p-5.jpg' %}" alt="">
         <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i>paris</h3>
            <p>Paris is one of the most beautiful cities in the world. It is known worldwide for the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower. It has a reputation of being a romantic and cultural city. The city is also known for its high-quality gastronomy and the terraces of its cafés.</p>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
            </div>
            <div class="price">₹2,50,000 <span>₹3,00,000</span></div>
            <a href="{% url 'customer:tour_page' %}" target="_blank" class="btn">book now</a>
         </div>
       </div>

       <div class="box">
         <img src="{% static 'img/p-6.jpg' %}" alt="">
         <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i>egypt</h3>
            <p>Egypt is very famous for its ancient civilization and the monuments of the majestic pharaohs, such as the Great Pyramids of Giza, the Great Sphinx, the Egyptian Museum, the GEM (The Grand Egyptian Museum), Sakkara, and Dahshur.</p>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="far fa-star"></i>
            </div>
            <div class="price">₹1,75,000 <span>₹1.90,000</span></div>
            <a href="{% url 'customer:tour_page' %}" target="_blank" class="btn">book now</a>
         </div>
       </div>
      </div>

   </section>

   <!------ SERVICES SECTION STARTS-------------------------------->
   <section class="services" id="services">
      <h1 class="heading">
         <span>s</span>
         <span>e</span>
         <span>r</span>
         <span>v</span>
         <span>i</span>
         <span>c</span>
         <span>e</span>
         <span>s</span>
      </h1>

      <div class="box-container">
         <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>affordable hotels</h3>
            <p> hotels are limited service, simple rooms, standardized accommodation</p>
         </div>
         <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>food and drinks</h3>
            <p>The latest food and drinks, food and lifestyle stories from around the world..</p>
         </div>
         <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>safty guide</h3>
            <p>Keep your travel plans, including accommodation details, to yourself.</p>
         </div>
         <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>around the world</h3>
            <p>Travels All Around the world!</p>
         </div>
         <div class="box">
            <i class="fas fa-plane"></i>
            <h3>fastest travel</h3>
            <p>Fast Travel with Safety Protocols.</p>
         </div>
         <div class="box">
            <i class="fas fa-hiking"></i>
            <h3>adventures</h3>
            <p>Whether it's physical or mental, adventurous behavior makes us feel good</p>
         </div>
      </div>
   </section>

   <!------ GALLERY SECTION  -------------------------------------->
   <section class="gallery" id="gallery">
      <h1 class="heading">
         <span>g</span>
         <span>a</span>
         <span>l</span>
         <span>l</span>
         <span>e</span>
         <span>r</span>
         <span>y</span>
      </h1>

      <div class="box-container">

         <div class="box">
            <img src="{% static 'img/g-1.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-2.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-3.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-4.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-5.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-6.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-7.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-8.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>
         <div class="box">
            <img src="{% static 'img/g-9.jpg' %}" alt="">
            <div class="content">
               <h3>amazing places</h3>
               <a href="#" class="btn">see more</a>
            </div>
         </div>

      </div>
   </section>



   <!------ CONTACT SECTION  -------------------------------------->
   <section class="contact">
      <h1 class="heading">
         <span>c</span>
         <span>0</span>
         <span>n</span>
         <span>t</span>
         <span>a</span>
         <span>c</span>
         <span>t</span>
      </h1>
      <div class="row">
         <div class="image">
            <img src="{% static 'img/contact-img.svg' %}" alt="">
         </div>
         <form action="{% url 'customer:customer_contact' %}" method="POST">
            {% csrf_token %}
            <div class="input-box">
               <input type="text" name="name" placeholder="name">
               <input type="email" name="cemail" placeholder="email" pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}">
            </div>
            <div class="input-box">
               <input type="tel"  name="cnumber" placeholder="number">
               <input type="text"  placeholder="subject">
            </div>
            <textarea placeholder="Message" name="cmsg" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="btn" value="Send message"><br>
            <p>{% include 'Tourism/message_show.html' %}</p>
         </form>
      </div>

   </section>

   <!------ BRAND SECTION  ---------------------------------------->
   <!--<section class="brand-container">
     <div class="brand-slider">
        <div class="swiper-wrapper">
           <div class="swiper-slide"><img src="{% static 'img/1.jpg' %}" alt=""></div>
           <div class="swiper-slide"><img src="{% static 'img/2.jpg' %}" alt=""></div>
           <div class="swiper-slide"><img src="{% static 'img/3.jpg' %}" alt=""></div>
           <div class="swiper-slide"><img src="{% static 'img/4.jpg' %}" alt=""></div>
           <div class="swiper-slide"><img src="{% static 'img/5.jpg' %}" alt=""></div>
           <div class="swiper-slide"><img src="{% static 'img/6.jpg' %}" alt=""></div>
        </div>
     </div>
   </section>

   ------ FOOTER SECTION  --------------------------------------->
   <section class="footer">
      <div class="box-container">
         <div class="box">
            <h3>about us</h3>
            <p>Joy tour and travels has come a long way in establishing its mark in the travel industry of India.</p>
         </div>
         <div class="box">
            <h3>branch locations</h3>
            <a href="#">Spain</a>
            <a href="#">Japan</a>
            <a href="#">USA</a>
            <a href="#">France</a>
            <a href="#">Australia</a>
         </div>
         <div class="box">
            <h3>quick links</h3>
            <a href="#">Home</a>
            <a href="#">Book</a>
            <a href="#">Packages</a>
            <a href="#">Services</a>
            <a href="#">Gallery</a>
            <a href="#">Review</a>
            <a href="#">Contact</a>
         </div>
         <div class="box">
            <h3>Follow us</h3>
            <a href="#"><i class="fab fa-facebook-square"></i> facebook</a>
            <a href="#"><i class="fab fa-instagram-square"></i> instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
         </div>
      </div>

      <h1 class="credit">created by <span>TRS Team</span> | all right reserved!</h1>
   </section>

   <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
   <script src="{% static 'script-swiper.js' %}"></script>
   <script src="{% static 'script.js' %}"></script>
</body>
</html>