<!DOCTYPE HTML>
<html>
<head><title>Tour Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>

#fom
{
  border:0 solid black;
  padding:10px;
  width:70%;
  margin-left:15%;
  border-radius:20px;
}

#submit
{
  padding:7px;
  width:120px;
  border-radius:20px;
  border-width:1px;
}

#submit:hover
{
  padding:10px;
  font-weight:bolder;
  
}
tr,td{
	padding: 10px;
 }

 select
 {
  font-weight:bold;
  font-size:14px;
  border-radius:20px;
 }
 #data_23
 {
   font-size:14px;
   font-weight:bold;
 }
body
{
	background: #eee;
}
</style>
</head>
<body>
	{% if 'username' in request.session %}
<div id="fom">
<form method="post" action="{% url 'customer:tour_registration' %}" onSubmit="return validateForm();">
	{% csrf_token %}
	<table>
		<tr>
			<th colspan="4">
					<h2 style="margin-left: 62%;margin-top:2%;font-weight: 500;">Tour Registration</h2>
					<div style="text-align:left; padding-bottom: 15px;font-size : 18px;">&nbsp;
						{% include 'Tourism/messages_block.html' %}</div>
			</th>
		</tr>
		<tr>
			
			<td><b>First name :<span style="color: red;"> *</span></td>
			<td><input type="text" id="data_3" name="data_3" style="max-width: 100%;" class="form-control" required/></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><b>Last name :<span style="color: red;"> *</span></td></b>
			<td> <input type="text" id="data_4" name="data_4" style="max-width: 100%;" class="form-control" required/></td>
		</tr>
		<tr>
			<td><b>Email :<span style="color: red;"> *</span></td></b>
			<td> <input type="email" id="data_5" name="data_5" style="max-width : 450px;" class="form-control" required></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><b>Phone :<span style="color: red;"> *</span></td></b>
			<td> <input type="text" pattern="[789]/d{9}" id="data_6" name="data_6" maxlength="10" style="max-width : 450px;" class="form-control" required></td>
		</tr>
		<tr>
			<td><b>Gender :<span style="color: red;"> *</span></td></b>
			<td><select id="data_20" name="data_20" style="max-width : 450px;" class="form-control" required>
				<option value="">Select Gender</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
				</select>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><b>Country :<span style="color: red;"> *</span></td></b>
			<td><select id="data_15" name="data_15" style="max-width : 450px;" class="form-control" required>
					<option value="">Select Country</option>
					<option>India</option>
			</td>
		</tr>
		<tr>
			<td><b>State :</td></b>
			<td> <select id="data_16" name="data_16" style="max-width : 450px;" class="form-control" required>
				<option value="">Select State</option>
				<option value="Andhra Pradesh">Andhra Pradesh</option>
				<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
				<option value="Arunachal Pradesh">Arunachal Pradesh</option>
				<option value="Assam">Assam</option>
				<option value="Bihar">Bihar</option>
				<option value="Chandigarh">Chandigarh</option>
				<option value="Chhattisgarh">Chhattisgarh</option>
				<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
				<option value="Daman and Diu">Daman and Diu</option>
				<option value="Delhi">Delhi</option>
				<option value="Lakshadweep">Lakshadweep</option>
				<option value="Puducherry">Puducherry</option>
				<option value="Goa">Goa</option>
				<option value="Gujarat">Gujarat</option>
				<option value="Haryana">Haryana</option>
				<option value="Himachal Pradesh">Himachal Pradesh</option>
				<option value="Jammu and Kashmir">Jammu and Kashmir</option>
				<option value="Jharkhand">Jharkhand</option>
				<option value="Karnataka">Karnataka</option>
				<option value="Kerala">Kerala</option>
				<option value="Madhya Pradesh">Madhya Pradesh</option>
				<option value="Maharashtra">Maharashtra</option>
				<option value="Manipur">Manipur</option>
				<option value="Meghalaya">Meghalaya</option>
				<option value="Mizoram">Mizoram</option>
				<option value="Nagaland">Nagaland</option>
				<option value="Odisha">Odisha</option>
				<option value="Punjab">Punjab</option>
				<option value="Rajasthan">Rajasthan</option>
				<option value="Sikkim">Sikkim</option>
				<option value="Tamil Nadu">Tamil Nadu</option>
				<option value="Telangana">Telangana</option>
				<option value="Tripura">Tripura</option>
				<option value="Uttar Pradesh">Uttar Pradesh</option>
				<option value="Uttarakhand">Uttarakhand</option>
				<option value="West Bengal">West Bengal</option>
				</select>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><b>Address :<span style="color: red;"> *</span></td></b>
			<td><textarea id="data_18" false name="data_18" style="max-width : 450px;" rows="4" cols="30" class="form-control" required></textarea>
			</td>
		</tr>
		<tr>
			<script>
				function check(){
					var id = document.getElementById("data_21").value;
					
					document.getElementById("data_23").value = id;
				}
			</script>
			<td ><b>Select Tour Package :<span style="color: red;"> *</span></td></b>
			<td><select id="data_21" name="data_21" style="max-width : 450px;" onchange="check();" onclick="check();" class="form-control" required>
				<option value="">Tour Plan with Trip Cost</option>
				{% for i in plan %}
				<option value="{{ i.plan_id }}">{{ i.plan_name }} - {{ i.plan_details }} {{ i.plan_amount}}</option>
				{% endfor %}
		
				</select>
				
			<td>
				<td><b>Select Date :<span style="color: red;"> *</span></td></b></td></b>
				<td> <input type="date" id="data_22"  name="data_22" value="2022-07-20" style="max-width : 450px;width:60%;font-weight:bold;"  class="form-control" required>
				</td>
				
			</td>
			
		</tr>
		<tr>
			<td><b>Passport Number :<span style="color: red;"> *</span></td></b>
			<td> <input type="text" pattern="[A-Z]{1}[0-9]{7}" id="data_19" name="data_19" style="max-width : 450px;" class="form-control" required/>
			</td>
			
		</tr>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td colspan="5"><div style="margin-left:30%;">
					<input name="skip_Submit" class="btn btn-success" id="submit" value="Submit" type="submit" />&nbsp;
					<input name="skip_Submit" class="btn btn-primary" id="submit" value="Reset" type="reset"/>
				</div>
			</td>
		</tr>
	</table>
</form>
</p>
<script type="text/javascript">


function packages()
{
  if(document.getElementById('data_21').value==='Tour Package 1')
  {
  	var a="";
    document.getElementById('data_23').value="Package 1";
  }
  else if(document.getElementById('data_21').value==='Tour Package 2')
  {
    document.getElementById('data_23').value="Package 2";
  }
  else if(document.getElementById('data_21').value==='Tour Package 3')
  {
    document.getElementById('data_23').value="Package 3";
  }
  else
  {
    document.getElementById('data_23').value="Select Package";
  }
}
function validateForm() {


if (isEmpty(document.getElementById('data_3').value.trim())) {
alert('First name is required!');
return false;
}
if (isEmpty(document.getElementById('data_4').value.trim())) {
alert('Last name is required!');
return false;
}
if (isEmpty(document.getElementById('data_5').value.trim())) {
alert('Email is required!');
return false;
}
if (!validateEmail(document.getElementById('data_5').value.trim())) {
alert('Email must be a valid email address!');
return false;
}
if (isEmpty(document.getElementById('data_6').value.trim())) {
alert('Phone is required!');
return false;
}
if (isEmpty(document.getElementById('data_18').value.trim())) {
alert('Address is required!');
return false;
}
if (isEmpty(document.getElementById('data19').value.trim())) {
alert('Passport Number is required!');
return false;
}
if (isEmpty(document.getElementById('data_25').value.trim())) {
alert('Terms and Conditions is required!');
return false;
}
return true;
}
function isEmpty(str) { return (str.length === 0 || !str.trim()); }
function validateEmail(email) {
var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
return isEmpty(email) || re.test(email);

}
</script>
{%  else %}
<h1>Please Login to Book</h1>
<script>
        window.setTimeout(window.location.href = "/",1000);
</script>
{% endif %}
</body>
</html>
